body {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  color: #fff;
  background-color: antiquewhite;
}

h1 {
  color: rgba(80,81,79);
  text-align: center;
}

.container {
  width: 540px;
  margin: 40px auto;
  overflow: auto;
}

.arrow {
  border: none;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  width: 36px;
  height: 36px;
}
.arrow:hover{
  background-color: rgba(80,81,79);
}

.slider-inner {
  position: relative;
  padding: 3px;
  width: 500px;
  height: 300px;
  overflow: hidden;
  float: left;
  border: #666 solid 1px;
}

.slider-inner .slide,
.slider-inner .slide img {
  display: none;
  width: 500px;
  height: 300px;
}

.slider-inner .slide .caption {
  position: absolute;
  padding-left: 4px;
  width: 496px;
  height: 30px;
  background-color: rgba(80,81,79);
  color: #fff;
  font-size: 14px;
  line-height: 30px;
  bottom: 3px;
  z-index: 9999;
}

.slider-inner .slide.active {
  display: inline-block;
}

.slider-inner .slide.active img {
  display: inline-block;
}

.prev,
.next {
  float: left;
  margin-top: 150px;
  cursor: pointer;
}

.prev {
  z-index: 999;
  position: relative;
  margin-right: -30px;
}

.next {
  position: relative;
  margin-left: -30px;
  z-index: 999;
}

.dots-container {
  clear: both;
  margin-left: 6px;
  width: 508px;
  z-index: 999;
  padding: 6px 0;
}

.dots {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 15%;
  margin: 0 auto;
}
.fa-circle{
  cursor: pointer;
}
.fa-circle:hover{
  color: rgb(87, 79, 79);
}

.dots a.active {
  color: rgb(87, 79, 79);
}


